{% load i18n %}

<footer class="sticky-footer justify-content-center bg-dark">
    <div class="row">
        <div class="list-group list-group-horizontal-md bg-transparent link-list col-12">
            <a href="https://www.ilifu.ac.za" class="list-group-item list-group-item-action" style="border: none"><span class="link-label">Web:</span> <span class="link-text">https://www.ilifu.ac.za</span></a>
            <a href="mailto:support@ilifu.ac.za" class="list-group-item list-group-item-action"><span class="link-label">Computing support:</span> <span class="link-text">support@ilifu.ac.za</span></a>
            <a href="mailto:info@idia.ac.za" class="list-group-item list-group-item-action"><span class="link-label">Information:</span> <span class="link-text">info@idia.ac.za</span></a>
        </div>
        <div class="info col-12">ilifu, a big data infrastructure for data-intensive research, enables South African researchers to be world leaders in the strategic science domains of astronomy and bioinformatics.</div>
    </div>

</footer>
